In [36]:
!jt -l

Available Themes:
   chesterish
   grade3
   gruvboxd
   gruvboxl
   monokai
   oceans16
   onedork
   solarizedd
   solarizedl

In [37]:
!jt -t monokai

In [34]:
import pandas as pd

## Concatenation

In [4]:
# creating a dummy dataframe

df1_dummy = {
    "serial_id" : ["1", "2", "3", "4", "5"],
    "sale_month" : ["Jan", "Feb", "Mar", "Apr", "May"],
    "sales" : ["12300", "25100", "17800", "20100", "21000"]
}

In [ ]:
# create df1
df1 = pd.dataframe(data=df1_dummy)

In [6]:
# creating 2nd dummy dataframe

df2_dummy = {
    "serial_id" : ["6", "7", "8", "9", "10"],
    "sale_month" : ["Jun", "Jul", "Aug", "Sep", "Oct"],
    "sales" : ["25000", "23700", "24600", "24000", "23950"]
}

In [ ]:
# create df2
df2 = pd.dataframe(data=df2_dummy)

In [8]:
# creating 3rd dummy dataframe

df3_dummy = {
    "sales_threshold" : ["No", "Yes", "No", "Yes", "Yes", "Yes", "Yes", "Yes", "Yes", "Yes"],
    "bonus_threshold" : ["No", "Yes", "No", "No", "No", "Yes", "No", "Yes", "Yes", "No"]
}

In [ ]:
# create df3
df3 = pd.dataframe(data=df3_dummy)

In [ ]:
# Concatenating the first and second DF row-wise
df_contated = pd.concate(df1, df2)

In [ ]:
# Concatening the new DF with the 3rd DF
df_whole = pd.concate(df_contated, df3)

## Append

In [ ]:
# append df2 to df1
df_appened = df1.append(df2)
df2

In [13]:
# append df3 to appended df2 to df1

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

  bonus_threshold sale_month  sales sales_threshold serial_id
0             NaN        Jan  12300             NaN         1
1             NaN        Feb  25100             NaN         2
2             NaN        Mar  17800             NaN         3
3             NaN        Apr  20100             NaN         4
4             NaN        May  21000             NaN         5
0             NaN        Jun  25000             NaN         6
1             NaN        Jul  23700             NaN         7
2             NaN        Aug  24600             NaN         8
3             NaN        Sep  24000             NaN         9
4             NaN        Oct  23950             NaN        10
0              No        NaN    NaN              No       NaN
1             Yes        NaN    NaN             Yes       NaN
2              No        NaN    NaN              No       NaN
3              No        NaN    NaN             Yes       NaN
4              No        NaN    NaN             Yes       NaN
5             Yes        NaN    NaN             Yes       NaN
6              No        NaN    NaN             Yes       NaN
7             Yes        NaN    NaN             Yes       NaN
8             Yes        NaN    NaN             Yes       NaN
9              No        NaN    NaN             Yes       NaN