Q1. Given an array of ints, return True if 6 appears as either the first or last element in the array.<br>
The array will be length 1 or more.<br>

1. first_last6([1, 2, 6]) → True
2. first_last6([6, 1, 2, 3]) → True
3. first_last6([13, 6, 1, 2, 3]) → False

In [ ]:
def first_last6(aList, number=6):
    assert len(aList) > 1, "Array must be of length 1 or more"
    return number == aList[0] or number == aList[-1]

list(map(first_last6, ([1,2,6], [6,1,2,3], [13,6,1,2,3])))

[True, True, False]

Q2. Given 2 arrays of ints, a and b, return True if they have the same first element or they have the same last element. <br>
Both arrays will be length 1 or more.<br>
1. common_end([1, 2, 3], [7, 3]) → True
2. common_end([1, 2, 3], [7, 3, 2]) → False
3. common_end([1, 2, 3], [1, 3]) → True

In [ ]:
def common_end(aList, bList):
    assert len(aList) > 1 and len(bList) > 1, "Both arrays must be of legnth 1 or more"
    return aList[0] == bList[0] or aList[-1] == bList[-1]

list(map(common_end, ([1,2,3], [1,2,3], [1,2,3]), ([7, 3], [7, 3, 2], [1, 3])))
# common_end([1,2,3],[7,3])
# common_end([1,2,3],[7,3, 2])
# common_end([1,2,3],[1,3])

[True, False, True]

Q3. Given an array of ints length 3, return an array with the elements "rotated left" so {1, 2, 3} yields {2, 3, 1} <br>
1. rotate_left3([1, 2, 3]) → [2, 3, 1]
2. rotate_left3([5, 11, 9]) → [11, 9, 5]
3. rotate_left3([7, 0, 0]) → [0, 0, 7]

In [ ]:
def rotate_left(aList):
    aList.append(aList.pop(0))
    return aList.copy()

list(map(rotate_left, ([1,2,3], [5,11,9], [7, 0, 0])))

[[2, 3, 1], [11, 9, 5], [0, 0, 7]]

Q4. Given an array length 1 or more of ints, return the difference between the largest and smallest values in the array. <br>Note: the built-in min(v1, v2) and max(v1, v2) functions return the smaller or larger of two values.<br>
1. big_diff([10, 3, 5, 6]) → 7
2. big_diff([7, 2, 10, 9]) → 8
3. big_diff([2, 10, 7, 2]) → 8

In [ ]:
def big_diff(aList):
    return max(aList) - min(aList)

list(map(big_diff, ([10, 3, 5, 6], [7, 2, 10, 9], [2, 10, 7, 2])))

[7, 8, 8]

Q5. Given an array of ints, return True if the array contains a 2 next to a 2 somewhere.
1. has22([1, 2, 2]) → True
2. has22([1, 2, 1, 2]) → False
3. has22([2, 1, 2]) → False

In [ ]:
def has22(aList):
    return any(a == 2 and b == 2 for (a, b) in zip(aList[:-1], aList[1:]))

list(map(has22, ([1,2,2], [1,2,1,2], [2,1,2])))

[True, False, False]

Q6. We want to make a package of goal kilos of chocolate. We have small bars (1 kilo each) and big bars (5 kilos each). <br>
Return the number of small bars to use, assuming we always use big
bars before small bars. Return -1 if it can't be done.
1. make_chocolate(4, 1, 9) → 4
2. make_chocolate(4, 1, 10) → -1
3. make_chocolate(4, 1, 7) → 2

In [ ]:
def make_chololate(aList):
    num_of_small_bars = sum(aList) % 5 
    return num_of_small_bars if num_of_small_bars else -1
    
list(map(make_chololate, ([(4, 1, 9), (4, 1, 10), (4, 1, 7)])))

[4, -1, 2]

Q7. The web is built with HTML strings like "<i>Yay</i>" which draws Yay as italic text. <br> In this
example, the "i" tag makes <i> and </i> which surround the word "Yay". <br>Given tag and word
strings, create the HTML string with tags around the word, e.g. "<i>Yay</i>".
1. make_tags('i', 'Yay') → '<i>Yay</i>'
2. make_tags('i', 'Hello') → '<i>Hello</i>'
3. make_tags('cite', 'Yay') → '<cite>Yay</cite>'

In [ ]:
def make_tags(tag_name, innerHTML):
    return f"<{tag_name}>{innerHTML}</{tag_name}>"

list(map(make_tags, (["i", "i", "cite"]), (["Yay", "Hello", "Yay"])))

['<i>Yay</i>', '<i>Hello</i>', '<cite>Yay</cite>']

Q8. Given an array of ints, return True if the sequence of numbers 1, 2, 3 appears in the array somewhere. <br>
1. array123([1, 1, 2, 3, 1]) → True
2. array123([1, 1, 2, 4, 1]) → False
3. array123([1, 1, 2, 1, 2, 3]) → True

In [ ]:
def array123(aList):
    return any(aList[i:i+3] == [1, 2, 3] for i in range(len(aList) - 2))

list(map(array123, ([1,1,2,3,1], [1,1,2,4,1], [1,1,2,1,2,3])))

[True, False, True]

Q9. Given 2 strings, a and b, return the number of the positions where they contain the same length 2 substring.<br> So "xxcaazz" and "xxbaaz" yields 3, since the "xx", "aa", and "az" substrings appear in the same place in both strings.<br>
1. string_match('xxcaazz', 'xxbaaz') → 3
2. string_match('abc', 'abc') → 2
3. string_match('abc', 'axc') → 0

In [ ]:
def string_match(a, b):
    # assuming that a and b are not of the same length
    return sum(a[i:i+2] == b[i:i+2] for i in range(max(len(a), len(b)) - 1))

list(map(string_match, ("xxcaazz", "abc", "abc"), ("xxbaaz", "abc", "axc")))

[3, 2, 0]

Q.10 Given a string, return a new string where the first and last chars have been exchanged.<br>
1. front_back('code') → 'eodc'
2. front_back('a') → 'a'
3. front_back('ab') → 'ba'

In [ ]:
def front_back(a):
    if len(a) < 2:
        return a
    return "".join(a[-1] + a[1:-1] + a[0])

list(map(front_back, ("code", "a", "ab")))

['eodc', 'a', 'ba']